body {
    background-color: #89C7A5;
}

header {
    width: 100%;
    background-color: #175935;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 130px;
    border-bottom: #124529 2px solid;
}

nav {
    width: 100%;
    background-color: #298050;
    position: absolute;
    top: 132px;
    left: 0px;
    height: 70px;
}

nav.stick {
    position: fixed;
    top: 0px;
    z-index: 10000;
}

section {
}

#container_H {
    color: white;
    width: 700px;
    margin: auto;
    font-size: 80px;
    padding-top: 35px;
    padding-bottom: 15px;
}

#container_N {
    color: white;
    width: 700px;
    margin: auto;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#container_S {
    background-color: white;
    color: black;
    width: 700px;
    margin: auto;
    font-size: 16px;
    padding: 10px;
    padding-top: 202px;
    border: #5BA67D 2px groove;
}