body {
    background-color: #CA6435;
}

header {
    width: 100%;
    background-color: #CD9900;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 130px;
    border-bottom: #CD4000 2px solid;
}

nav {
    width: 100%;
    background-color: #FFD24F;
    position: absolute;
    top: 132px;
    left: 0px;
    height: 70px;
}

nav.stick {
    position: fixed;
    top: 0px;
    z-index: 10000;
}

section {
}

#container_H {
    color: #FFFFFF;
    width: 700px;
    margin: auto;
    font-size: 80px;
    padding-top: 35px;
    padding-bottom: 15px;
    text-align: center;
}

#container_N {
    color: #249D70;
    width: 700px;
    margin: auto;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#container_S {
    background-color: #FFF9F6;
    color: #12124c;
    width: 700px;
    margin: auto;
    font-size: 16px;
    padding: 10px;
    padding-top: 202px;
    border: #E96E36 2px groove;
}

.nav_button {
    width: 175px;
    margin: 56px;
    text-align: center;
}

h1 {
    color: #008A56;
}

h2 {
    color: #53AC8B;
}